# Series
![](image\index.png)

#### 範圍取值 方法1：df [起點取：結束點不取]
#### 範圍取值 方法2：df [起點取：起點取 +取個數]

# 1. 產生Series

### list產生Series

In [4]:
import pandas as pd
s = pd.Series([1,2,3,4,5,6,7,8,9])
s.index, s.values

(RangeIndex(start=0, stop=9, step=1),
 array([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64))

In [6]:
s.index = list(range(0,18,2)) #索引可以改
s

0     1
2     2
4     3
6     4
8     5
10    6
12    7
14    8
16    9
dtype: int64

In [11]:
print('shape:',s.shape)#(row,colum)(行,列)
print('size:',s.size)
print('ndim:',s.ndim)
print('dtype:',s.dtype)
print('value_counts:',s.value_counts()) #統計values中每一個出現元素出現的次數或頻率

shape: (9,)
size: 9
ndim: 1
dtype: int64
value_counts: 1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
dtype: int64

In [10]:
s.to_frame()

    0
0   1
2   2
4   3
6   4
8   5
10  6
12  7
14  8
16  9

In [1]:
import pandas as pd
import numpy as np

l = [chr(np.random.randint(48, 57)) for _ in range(9)]#http://shihyu.github.io/books/apas01.html
s = pd.Series(l, index = range(1, 10))
print(s)

1    2
2    5
3    8
4    2
5    4
6    8
7    0
8    2
9    8
dtype: object

### tuple產生Series

In [2]:
import pandas as pd
import numpy as np

t = (chr(np.random.randint(97, 122)) for _ in range(9))
s = pd.Series(t)
print(s)

0    c
1    n
2    k
3    r
4    i
5    v
6    b
7    p
8    u
dtype: object

### dict產生Series：dict的Key是唯一值，若有相同Key，value將被覆蓋。

In [6]:
import pandas as pd
import numpy as np

d = dict([(chr(np.random.randint(97, 123)), chr(np.random.randint(48, 58))) for _ in range(9)])
s = pd.Series(d)
print(s) #dict的key是唯一，K2會覆蓋K1

n    5
z    4
p    6
b    6
e    0
k    1
l    9
t    9
dtype: object

### Array產生Series

In [12]:
import pandas as pd
import numpy as np

a = np.array(np.random.randint(97, 122, size = 9))
s = pd.Series(a, index = range(10, 19))
print(s)

10    108
11    117
12     98
13    111
14    112
15    100
16    114
17    107
18    106
dtype: int32

### Range產生Series

In [8]:
s1 = pd.Series([1,3,5,7],index=list("1234"))
s2 = pd.Series([2,4,6,8],index=list("1234"))
s1 + s2 #相加

1     3
2     7
3    11
4    15
dtype: int64

In [10]:
s1 = pd.Series([1,3,5,7],index=list("1234"))
s2 = pd.Series([2,4,6,8],index=list("1246"))
s1 + s2

1     3.0
2     7.0
3     NaN
4    13.0
6     NaN
dtype: float64

In [11]:
s1.add(s2)

1     3.0
2     7.0
3     NaN
4    13.0
6     NaN
dtype: float64

In [12]:
s1 #沒有複寫回去，值就不會變

1    1
2    3
3    5
4    7
dtype: int64

In [2]:
import pandas as pd
import numpy as np

s1 = pd.Series(np.arange(5),index=list("abcde"))
s2 = pd.Series(np.arange(6),index=list("adcbef"))
print(s1)
print()
print(s2)

a    0
b    1
c    2
d    3
e    4
dtype: int32

a    0
d    1
c    2
b    3
e    4
f    5
dtype: int32

In [3]:
s3 = s1.add(s2, fill_value=0)#相加
s3

a    0.0
b    4.0
c    4.0
d    4.0
e    8.0
f    5.0
dtype: float64

In [4]:
s3 = s1.sub(s2, fill_value=0)#相減
s3

a    0.0
b   -2.0
c    0.0
d    2.0
e    0.0
f   -5.0
dtype: float64

# 2. Series增加元素

In [9]:
#注意：Series 以 append 添加的項目不會改變原本 Series 的內容，而是產生新的Series。pd 2.0.3不支援
import pandas as pd
import numpy as np

s = pd.Series(np.random.randint(30, size = 5))
print(s)
print()
print(s.append(pd.Series({8:30, 10:22, 13:35}), ignore_index = True))
print()
print(s)

0     7
1     7
2     8
3    17
4    25
dtype: int32

0     7
1     7
2     8
3    17
4    25
5    30
6    22
7    35
dtype: int64

0     7
1     7
2     8
3    17
4    25
dtype: int32

C:\Users\Lo yuan\AppData\Local\Temp\ipykernel_4656\968584023.py:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(s.append(pd.Series({8:30, 10:22, 13:35}), ignore_index = True))

In [8]:
pd.__version__

'1.5.3'

# 3. Series改變元素

### 修改單一位置元素。

In [12]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randint(30, size = 5))
print(s)
print()
s[3] = 50
print(s)

0    26
1    21
2    26
3    13
4    20
dtype: int32

0    26
1    21
2    26
3    50
4    20
dtype: int32

### 修改範圍的元素。

In [13]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randint(30, size = 5))
print(s)
print()
s[3:] = 30 #大範圍修改
print(s)

0     1
1     2
2     8
3    15
4     7
dtype: int32

0     1
1     2
2     8
3    30
4    30
dtype: int32

# 4. Series刪除元素

### 刪除一個元素。

In [14]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randint(30, size = 9))
print(s)
print()
s = s.drop(3) #要複寫回去s = .... or s.drop(3,inplace = True)
print(s)

0    11
1     1
2    25
3    26
4    27
5     7
6    26
7    13
8     3
dtype: int32

0    11
1     1
2    25
4    27
5     7
6    26
7    13
8     3
dtype: int32

### 以List同時刪除多個元素。

In [3]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randint(30, size = 9))
print(s)
print()
s = s.drop([1, 3, 5])
print(s)

0    14
1    12
2    18
3     4
4    27
5    14
6    26
7    19
8    27
dtype: int32

0    14
2    18
4    27
6    26
7    19
8    27
dtype: int32

### 以Range同時刪除多個元素。

In [16]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randint(30, size = 9))
print(s)
print()
s = s.drop(range(1, 9, 2)) #1~9間格為2
print(s)

0    27
1    25
2    27
3    25
4     2
5    15
6    19
7     8
8    18
dtype: int32

0    27
2    27
4     2
6    19
8    18
dtype: int32

# 5. Series查詢元素

In [15]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randint(30, size = 9))
print(s)
print()
print(s[5]) #取出5
print()
print(s[1:9:2])
print()
print(s[list(range(1, 9, 2))])

0     6
1    21
2    17
3    27
4    21
5    21
6    10
7    10
8    11
dtype: int32

21

1    21
3    27
5    21
7    10
dtype: int32

1    21
3    27
5    21
7    10
dtype: int32

In [8]:
#s[s<15]

for idx, i in enumerate(s):
    if i <15:
        print(idx, i)

0 3
2 3
9 7

In [17]:
s[s<15] #資料篩選

1    3
6    9
dtype: int32

In [16]:
l = []
for i in s.values:
    l.append(i<15)
l

[False, True, False, False, False, False, True, False, False, False]

In [19]:
s[(10<s) & (s<20)]

0    16
dtype: int32

In [20]:
s[2:7][s<30]

5    23
6     9
dtype: int32

In [13]:
import pandas as pd
import numpy as np

size = 10
count = 30
s = pd.Series(np.random.randint(50, size = size))
print("s", "-" * count)
print(s)
print()
print("s[s<15]", "-" * count)
print(s[s<15])
print()
print("s[(10 < s) & (s < 20)]", "-" * count)
print(s[(10 < s) & (s < 20)])
print()
print("s[2:7][s<30]", "-" * count)
print(s[2:7][s<30])

s ------------------------------
0    16
1     3
2    33
3    42
4    41
5    23
6     9
7    30
8    29
9    46
dtype: int32

s[s<15] ------------------------------
1    3
6    9
dtype: int32

s[(10 < s) & (s < 20)] ------------------------------
0    16
dtype: int32

s[2:7][s<30] ------------------------------
5    23
6     9
dtype: int32

In [26]:
s.index = list('abcdefghij')
s

a    16
b     3
c    33
d    42
e    41
f    23
g     9
h    30
i    29
j    46
dtype: int32

In [28]:
s.at['c'],s.iat[7] #at取一個值(str),iat取一個值(int)

(33, 30)

In [30]:
s.loc['c'],s.loc['c':] #loc取一個range(str)

(33,
 c    33
 d    42
 e    41
 f    23
 g     9
 h    30
 i    29
 j    46
 dtype: int32)

In [31]:
s.iloc[3],s.iloc[3:] #iloc取一個range(int)

(42,
 d    42
 e    41
 f    23
 g     9
 h    30
 i    29
 j    46
 dtype: int32)

In [1]:
import numpy as np
import pandas as pd

s = pd.Series(np.random.randint(50, size= 10))
s

0    46
1    25
2    26
3     4
4    13
5     8
6     6
7    32
8    32
9    13
dtype: int32

In [2]:
s[3]

4

In [3]:
s[8:-1]

8    32
dtype: int32

In [12]:
print('s.at[6]:    ', s.at[6])
print('s.iat[6]:   ', s.iat[6])
print('s[6]:       ', s[6])
print('s.loc[6]:   ', s.loc[6])
print('s.loc[6:6]: ', s.loc[6:6]) #唯一例外loc:前取尾也要取!
print('s.iloc[6]:  ', s.iloc[6])
print('s.iloc[6:7]:', s.iloc[6:7])
print('s[6:7]:     ', s[6:7])

s.at[6]:     6
s.iat[6]:    6
s[6]:        6
s.loc[6]:    6
s.loc[6:6]:  6    6
dtype: int32
s.iloc[6]:   6
s.iloc[6:7]: 6    6
dtype: int32
s[6:7]:      6    6
dtype: int32

In [13]:
print('s.at[6]:    ', type(s.at[6]))
print('s.iat[6]:   ', type(s.iat[6]))
print('s[6]:       ', type(s[6]))
print('s.loc[6]:   ', type(s.loc[6]))
print('s.loc[6:6]: ', type(s.loc[6:6])) #一個維度的數值
print('s.iloc[6]:  ', type(s.iloc[6]))
print('s.iloc[6:7]:', type(s.iloc[6:7]))
print('s[6:7]:     ', type(s[6:7]))

s.at[6]:     <class 'numpy.int32'>
s.iat[6]:    <class 'numpy.int32'>
s[6]:        <class 'numpy.int32'>
s.loc[6]:    <class 'numpy.int32'>
s.loc[6:6]:  <class 'pandas.core.series.Series'>
s.iloc[6]:   <class 'numpy.int32'>
s.iloc[6:7]: <class 'pandas.core.series.Series'>
s[6:7]:      <class 'pandas.core.series.Series'>

In [26]:
print('3  in s:', 3 in s)
print('13 in s:', 13 in s)                   #in 成員運算子，針對index，非value判別
print('13 in s.values:', 13 in s.values)
print('13 in s.tolist():', 13 in s.tolist()) #轉list
print('13 in dict(s):', 13 in dict(s))       #轉dict，針對key，非value判別
print('13 in set(s):', 13 in set(s))         #轉set
print('13 in tuple(s):', 13 in tuple(s))     #轉tuple
print('s.isin([13]):', s.isin([13]))         #全部拿去比對

3  in s: True
13 in s: False
13 in s.values: True
13 in s.tolist(): True
13 in dict(s): False
13 in set(s): True
13 in tuple(s): True
s.isin([13]): 0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
9     True
dtype: bool

# 6. Series 基本運算
- Series.describe()：描述統計
- Series.mean()：均值
- Series.median()：中位數
- Series.sum()：求和
- Series.std()：標準差
- Series.mode()：出現頻率最高的數值(眾數)
- Series.max()：求最大值
- Series.min()：求最小值
- Series.idxmax()：最大值的索引位置
- Series.idxmin()：最大值的索引位置
- Series.nlargetst()：最大的n個數值
- Series.nsmallest()：最小的n個數值
- Series.value_counts()：每個值的數量
- Series.count():統計非空的的數量
- Series.sort_values(ascending=False)：排序
- Series.cumsum():累加運算
- Series.cumprod():累乘運算
- Series.rolling():窗格運算
- Series.agg():聚合函數
    - Series.agg([ 'sum', 'max', 'mean', 'median', 'std', 'min', 'count'])

### Series 描述統計

In [9]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randint(30, size = 9))
print(s)
print()
print(s.describe())
print()
print(s.mean(), "\t", s.median(), "\t", s.sum(), "\t", s.std(), "\t", s.mode())
print()
print(s.value_counts())

0    25
1    11
2     8
3    28
4    20
5    27
6    29
7    17
8    22
dtype: int32

count     9.000000
mean     20.777778
std       7.512952
min       8.000000
25%      17.000000
50%      22.000000
75%      27.000000
max      29.000000
dtype: float64

20.77777777777778 	 22.0 	 187 	 7.512951779723097 	 0     8
1    11
2    17
3    20
4    22
5    25
6    27
7    28
8    29
dtype: int32

22    1
29    1
28    1
11    1
25    1
8     1
27    1
20    1
17    1
dtype: int64

### Series 使用 agg 聚合函數

In [10]:
import pandas as pd
import numpy as np

size = 10
count = 30
s = pd.Series(np.random.randint(30, size = size))
print("s", "-" * count)
print(s)
print()
print("s.describe()", "-" * count)
print(s.describe())
print()
print("s.agg(['sum', 'max', 'mean', 'median', 'std', 'min', 'count'])", "-" * count)
print(s.agg(['sum', 'max', 'mean', 'median', 'std', 'min', 'count']))

s ------------------------------
0     5
1    25
2    25
3    21
4    28
5    26
6    20
7    17
8     6
9    15
dtype: int32

s.describe() ------------------------------
count    10.00000
mean     18.80000
std       8.10761
min       5.00000
25%      15.50000
50%      20.50000
75%      25.00000
max      28.00000
dtype: float64

s.agg(['sum', 'max', 'mean', 'median', 'std', 'min', 'count']) ------------------------------
sum       188.00000
max        28.00000
mean       18.80000
median     20.50000
std         8.10761
min         5.00000
count      10.00000
dtype: float64

### Series 相加

In [11]:
import pandas as pd
import numpy as np

size = 5
count = 30
s1 = pd.Series(np.random.randint(30, size = size))
s2 = pd.Series(np.random.randint(50, size = size))
print("s1", "-" * count)
print(s1)
print("s2", "-" * count)
print(s2)
print("s1 + s2", "-" * count)
print(s1 + s2)

s1 ------------------------------
0     5
1    19
2    23
3    17
4     5
dtype: int32
s2 ------------------------------
0    46
1    42
2     1
3    45
4    15
dtype: int32
s1 + s2 ------------------------------
0    51
1    61
2    24
3    62
4    20
dtype: int32

In [29]:
import pandas as pd
import numpy as np

s1 = pd.Series(np.random.randint(30, size = 5), index = list('01258'))
s2 = pd.Series(np.random.randint(30, size = 5), index = list('23058'))
print("s1", "-" * 30)
print(s1)
print("s2", "-" * 30)
print(s2)
print("s1 + s2", "-" * 30)
print(s1 + s2)

s1 ------------------------------
0    12
1    14
2    22
5    14
8     9
dtype: int32
s2 ------------------------------
2    27
3    28
0    28
5    10
8    26
dtype: int32
s1 + s2 ------------------------------
0    40.0
1     NaN
2    49.0
3     NaN
5    24.0
8    35.0
dtype: float64

### Series 相減

In [21]:
import pandas as pd
import numpy as np

size = 5
count = 30
s1 = pd.Series(np.random.randint(30, size = size))
s2 = pd.Series(np.random.randint(50, size = size))
print("s1", "-" * count)
print(s1)
print("s2", "-" * count)
print(s2)
print("s1 - s2", "-" * count)
print(s1 - s2)

s1 ------------------------------
0     8
1    20
2    10
3    29
4    24
dtype: int32
s2 ------------------------------
0    21
1    47
2    49
3    35
4     7
dtype: int32
s1 - s2 ------------------------------
0   -13
1   -27
2   -39
3    -6
4    17
dtype: int32

### Series 相乘

In [22]:
import pandas as pd
import numpy as np

size = 5
count = 30
s1 = pd.Series(np.random.randint(30, size = size))
s2 = pd.Series(np.random.randint(50, size = size))
print("s1", "-" * count)
print(s1)
print("s2", "-" * count)
print(s2)
print("s1 * s2", "-" * count)
print(s1 * s2)

s1 ------------------------------
0    14
1     2
2    21
3    19
4     4
dtype: int32
s2 ------------------------------
0    13
1    46
2     4
3    27
4    42
dtype: int32
s1 * s2 ------------------------------
0    182
1     92
2     84
3    513
4    168
dtype: int32

### Series 相除

In [23]:
import pandas as pd
import numpy as np

size = 5
count = 30
s1 = pd.Series(np.random.randint(30, size = size))
s2 = pd.Series(np.random.randint(50, size = size))
print("s1", "-" * count)
print(s1)
print("s2", "-" * count)
print(s2)
print("s1 / s2", "-" * count)
print(s1 / s2)

s1 ------------------------------
0    29
1    12
2    23
3    24
4    25
dtype: int32
s2 ------------------------------
0    32
1    37
2     7
3    31
4    23
dtype: int32
s1 / s2 ------------------------------
0    0.906250
1    0.324324
2    3.285714
3    0.774194
4    1.086957
dtype: float64

### Series 元素除2

In [24]:
import pandas as pd
import numpy as np

size = 5
count = 30
s = pd.Series(np.random.randint(30, size = size))
print("s", "-" * count)
print(s)
print()
print("s/2", "-" * count)#針對所有元素除2
print(s/2)

s ------------------------------
0    11
1     9
2     5
3    23
4    16
dtype: int32

s/2 ------------------------------
0     5.5
1     4.5
2     2.5
3    11.5
4     8.0
dtype: float64

### Series 元素取2的餘數

In [25]:
import pandas as pd
import numpy as np

size = 5
count = 30
s = pd.Series(np.random.randint(30, size = size))
print("s", "-" * count)
print(s)
print()
print("s%2", "-" * count)
print(s%2)

s ------------------------------
0    17
1     4
2     6
3     7
4    29
dtype: int32

s%2 ------------------------------
0    1
1    0
2    0
3    1
4    1
dtype: int32

### Series 元素取平方

In [26]:
import pandas as pd
import numpy as np

size = 5
count = 30
s = pd.Series(np.random.randint(30, size = size))
print("s", "-" * count)
print(s)
print()
print("s**2", "-" * count)
print(s**2)

s ------------------------------
0     2
1    29
2     7
3    23
4    15
dtype: int32

s**2 ------------------------------
0      4
1    841
2     49
3    529
4    225
dtype: int32

### 搭配numpy函數，Series 元素開根號

In [27]:
import pandas as pd
import numpy as np

size = 5
count = 30
s = pd.Series(np.random.randint(30, size = size))
print("s", "-" * count)
print(s)
print()
print("np.sqrt(s)", "-" * count)
print(np.sqrt(s))

s ------------------------------
0     4
1    27
2     6
3     2
4    27
dtype: int32

np.sqrt(s) ------------------------------
0    2.000000
1    5.196152
2    2.449490
3    1.414214
4    5.196152
dtype: float64

### 搭配numpy函數，Series 元素取log

In [12]:
import pandas as pd
import numpy as np

size = 5
count = 30
s = pd.Series(np.random.randint(30, size = size))
print("s", "-" * count)
print(s)
print()
print("np.log(s)", "-" * count)
print(np.log(s))

s ------------------------------
0    10
1    19
2    29
3     4
4     0
dtype: int32

np.log(s) ------------------------------
0    2.302585
1    2.944439
2    3.367296
3    1.386294
4        -inf
dtype: float64

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

### Series 元素取最大值與最大值所在位置。

In [28]:
import pandas as pd
import numpy as np

size = 5
count = 30
s = pd.Series(np.random.randint(30, size = size))
print("s", "-" * count)
print(s)
print()
print("-" * count)
print("s.max()：", s.max())
print("s.idxmax()：", s.idxmax()) #最大值索引所在位置

s ------------------------------
0     5
1     9
2    19
3    15
4    21
dtype: int32

------------------------------
s.max()： 21
s.idxmax()： 4

### Series 元素取最小值與最小值所在位置。

In [29]:
import pandas as pd
import numpy as np

size = 5
count = 30
s = pd.Series(np.random.randint(30, size = size))
print("s", "-" * count)
print(s)
print()
print("-" * count)
print("s.min()：", s.min())
print("s.idxmin()：", s.idxmin()) #最小值索引所在位置

s ------------------------------
0    28
1    14
2    17
3     3
4     7
dtype: int32

------------------------------
s.min()： 3
s.idxmin()： 3

### Series排序
- 使用s.sort_values() 在沒覆蓋原始資料，將無法修改s的內容，若要##覆蓋原始資料要改寫成 s = s.sort_values() 或 s.sort_values(inplace=True)。

In [30]:
import pandas as pd
import numpy as np

size = 5
count = 30
s = pd.Series(np.random.randint(30, size = size))
print("s", "-" * count)
print(s) #預設是遞增
print()
print("遞增排序：s.sort_values()", "-" * count)
print(s.sort_values())
print()
print("遞減排序：s.sort_values(ascending=False)", "-" * count)
print(s.sort_values(ascending=False)) #遞減要寫出來ascending=False
print()
print("s", "-" * count)
print(s)

s ------------------------------
0     7
1    14
2     0
3    10
4     0
dtype: int32

遞增排序：s.sort_values() ------------------------------
2     0
4     0
0     7
3    10
1    14
dtype: int32

遞減排序：s.sort_values(ascending=False) ------------------------------
1    14
3    10
0     7
2     0
4     0
dtype: int32

s ------------------------------
0     7
1    14
2     0
3    10
4     0
dtype: int32

In [41]:
import pandas as pd
import numpy as np

s1 = pd.Series(np.random.randint(30, size = 5), index = list('01258'))
print(s1)
print('*'*20)
print(s1.sort_index())
print('*'*20)
print(s1.sort_index(ascending=False))
print('*'*20)
print(s1)

0    26
1    20
2     5
5     1
8    25
dtype: int32
********************
0    26
1    20
2     5
5     1
8    25
dtype: int32
********************
8    25
5     1
2     5
1    20
0    26
dtype: int32
********************
0    26
1    20
2     5
5     1
8    25
dtype: int32

In [37]:
l = [5, 21, 25, 14, 26] #串列裡的排序功能
l.sort()
print('l:', l)
l.sort(reverse = True) #會把裡面順序改掉
print('l:', l)

l: [5, 14, 21, 25, 26]
l: [26, 25, 21, 14, 5]

In [36]:
l = [5, 21, 25, 14, 26]
print('sorted(l):',sorted(l))#不會把裡面順序改掉
print('l:', l)

sorted(l): [5, 14, 21, 25, 26]
l: [5, 21, 25, 14, 26]

# 7. Series 缺失值處理 欄位是空值
- 缺失值(NA)定義：None、numpy.nan
- 非缺失值(NA)：""、False、np.inf
- Python中，若要判斷資料中是否存在缺失值，可使用 isnull()、isna() 判別[布林值]，或使用 notnull()、notna() 判別[布林值]非空數量與總數量的差。

In [15]:
import pandas as pd
import numpy as np

size = 11 #0~10
count = 30
s = pd.Series(np.random.randint(30, size = size))
s[1] = None #缺失值
s[3] = ""
s[5] = False
s[9] = np.nan #缺失值
s[11] = np.inf

print("資料長度：{1}\n\n原始資料：{0}".format(s.values, len(s)))
print()
print("isnull 判斷NA存在與否：", s.isnull().values)
print()
print("notnull 判斷NA不存在：", s.notnull().values)
print()
print("isna 判斷NA存在與否：", s.isna().values)
print()
print("notna 判斷NA不存在：", s.notna().values)
print()
print("非 NA 數量 isnull：{0}, isna：{1}".format(len(s) - s.isnull().sum(), len(s) - s.isna().sum()))
print() #取出符合條件 - 不符合
print("非 NA 百分比 isnull：{0:.2f}%, isna：{1:.2f}%".format((len(s) - s.isnull().sum())/len(s) * 100, (len(s) - s.isna().sum())/len(s) * 100))
print() #2/12
print("非 NA 數量 notnull：{}, notna：{}".format(s.notnull().sum(), s.notna().sum()))
print()
print("非 NA 百分比 notnull：{:.2%}, notna：{:.2%}".format(s.notnull().sum()/len(s), s.notna().sum()/len(s))) #10/12

資料長度：12

原始資料：[3.0 nan 18.0 '' 12.0 False 0.0 28.0 28.0 nan 27.0 inf]

isnull 判斷NA存在與否： [False  True False False False False False False False  True False False]

notnull 判斷NA不存在： [ True False  True  True  True  True  True  True  True False  True  True]

isna 判斷NA存在與否： [False  True False False False False False False False  True False False]

notna 判斷NA不存在： [ True False  True  True  True  True  True  True  True False  True  True]

非 NA 數量 isnull：10, isna：10

非 NA 百分比 isnull：83.33%, isna：83.33%

非 NA 數量 notnull：10, notna：10

非 NA 百分比 notnull：83.33%, notna：83.33%

- 資料中存在缺失值NA，需要填補，可以 fillna(數值) 填補。

In [64]:
import pandas as pd
import numpy as np

size = 11
count = 30
s = pd.Series(np.random.randint(30, size = size))
s[1] = None
s[3] = ""
s[5] = False
s[9] = np.nan
s[11] = np.inf

print("s", "-" * count)
print(s)
print()
print("s.fillna(0)", "-" * count)
print(s.fillna(0))
print()
print("s.fillna({1: 0, 3: 1, 5: 2, 7: 3, 9: 4, 11: 5})", "-" * count)
print(s.fillna({1: 0, 3: 1, 5: 2, 7: 3, 9: 4, 11: 5}))

s ------------------------------
0        14
1       NaN
2        16
3
4        25
5     False
6        11
7        28
8        18
9       NaN
10       13
11      inf
dtype: object

s.fillna(0) ------------------------------
0        14
1         0
2        16
3
4        25
5     False
6        11
7        28
8        18
9         0
10       13
11      inf
dtype: object

s.fillna({1: 0, 3: 1, 5: 2, 7: 3, 9: 4, 11: 5}) ------------------------------
0        14
1         0
2        16
3
4        25
5     False
6        11
7        28
8        18
9         4
10       13
11      inf
dtype: object

# 8. Series轉成Dataframe

In [65]:
import numpy as np
import pandas as pd
scores = pd.Series(np.random.rand(10))
score_df = scores.to_frame()
score_df

          0
0  0.456547
1  0.444351
2  0.391159
3  0.900638
4  0.990511
5  0.439120
6  0.168244
7  0.200791
8  0.765008
9  0.836561

# 9. 合併concat

### Series垂直合併

In [0]:
#Series，索引值相同合併沒問題
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.rand(10), index = range(0,10))
s2 = pd.Series(np.random.rand(10), index = range(10,20))
s = pd.concat([s1, s2]) #串列可以合併兩個以上的series，但 !!! merge不行
s

0     0.410166
1     0.595500
2     0.776869
3     0.956898
4     0.493882
5     0.229269
6     0.616617
7     0.482732
8     0.722319
9     0.718921
10    0.521144
11    0.566419
12    0.966128
13    0.863263
14    0.797940
15    0.571576
16    0.983573
17    0.693313
18    0.768164
19    0.793533
dtype: float64

In [39]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.rand(10), index = range(0,10))
s2 = pd.Series(np.random.rand(10), index = range(0,10))
s = pd.concat([s1, s2], ignore_index = True) #舊的忽略，產生新的
s

0     0.792606
1     0.886045
2     0.554501
3     0.402749
4     0.604543
5     0.988601
6     0.561833
7     0.955916
8     0.366596
9     0.611902
10    0.093352
11    0.619825
12    0.612892
13    0.158613
14    0.414648
15    0.186784
16    0.096126
17    0.880464
18    0.249625
19    0.935151
dtype: float64

### Series水平合併

In [40]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.rand(10), index = range(0,10))
s2 = pd.Series(np.random.rand(10), index = range(0,10))
s = pd.concat([s1, s2], axis= 1) #axis，水平判斷
s

          0         1
0  0.473095  0.028849
1  0.442493  0.044584
2  0.163913  0.234476
3  0.304354  0.790629
4  0.785525  0.897767
5  0.956879  0.101634
6  0.185817  0.217352
7  0.931438  0.539028
8  0.694301  0.773921
9  0.955529  0.557527

In [1]:
#Series
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.rand(10), index = range(0,10))
s2 = pd.Series(np.random.rand(10), index = range(10,20))
s = pd.concat([s1, s2], axis= 1) #axis，水平判斷 axis預設值為0不用寫
s

           0         1
0   0.696574       NaN
1   0.054995       NaN
2   0.013620       NaN
3   0.863679       NaN
4   0.125191       NaN
5   0.731600       NaN
6   0.514569       NaN
7   0.919724       NaN
8   0.587044       NaN
9   0.406162       NaN
10       NaN  0.167237
11       NaN  0.739806
12       NaN  0.436208
13       NaN  0.046075
14       NaN  0.863085
15       NaN  0.844846
16       NaN  0.183905
17       NaN  0.418883
18       NaN  0.581076
19       NaN  0.216642

# 函數

In [43]:
def f(l):
    length = len(l)
    l.append(sum(l)/length)
    
l = [1,3,5,7,9]
f(l)
l

[1, 3, 5, 7, 9, 5.0]

In [46]:
import pandas as pd
def f(s):
    length = s.count()
    s[length] = sum(s.tolist())/length
    
l = [1,3,5,7,9]
s = pd.Series(l)
f(s)
s

0    1.0
1    3.0
2    5.0
3    7.0
4    9.0
5    5.0
dtype: float64

In [48]:
import pandas as pd
def f1(s):
    s.drop([0]) #刪除第0位置
    
def f2(s):
    s.drop([0], inplace = True)#刪除第0位置，複寫原本資料
  
l = [1,3,5,7,9]
s = pd.Series(l)
f1(s)
print(s)
f2(s)
print(s)

0    1
1    3
2    5
3    7
4    9
dtype: int64
1    3
2    5
3    7
4    9
dtype: int64

# 查詢資訊

In [51]:
import numpy as np
import pandas as pd

s = pd.Series(np.random.randint(101, size = 10))
s.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     int32
dtypes: int32(1)
memory usage: 168.0 bytes

In [52]:
s.info(memory_usage = True) #有加memory_usage，才是真實記憶體數值內容

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     int32
dtypes: int32(1)
memory usage: 168.0 bytes

In [53]:
s.astype('int8').info(memory_usage = True) #轉換資料型別

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     int8
dtypes: int8(1)
memory usage: 138.0 bytes

In [59]:
import pandas as pd

s = pd.Series(list('12345678'))
s.info()
#objet->字串型別

<class 'pandas.core.series.Series'>
RangeIndex: 8 entries, 0 to 7
Series name: None
Non-Null Count  Dtype
--------------  -----
8 non-null      object
dtypes: object(1)
memory usage: 192.0+ bytes

In [60]:
s.astype('int8').info(memory_usage = True)#字串轉整數

<class 'pandas.core.series.Series'>
RangeIndex: 8 entries, 0 to 7
Series name: None
Non-Null Count  Dtype
--------------  -----
8 non-null      int8
dtypes: int8(1)
memory usage: 136.0 bytes

In [65]:
pd.to_numeric(s, errors = 'ignore', downcast = 'integer').info() #numeric字串轉整數

#errors : {'ignore', 'raise', 'coerce'}

<class 'pandas.core.series.Series'>
RangeIndex: 8 entries, 0 to 7
Series name: None
Non-Null Count  Dtype
--------------  -----
8 non-null      int8
dtypes: int8(1)
memory usage: 136.0 bytes

In [66]:
s.apply(lambda x:int(x)).info() #字串轉整數，int強制轉型

<class 'pandas.core.series.Series'>
RangeIndex: 8 entries, 0 to 7
Series name: None
Non-Null Count  Dtype
--------------  -----
8 non-null      int64
dtypes: int64(1)
memory usage: 192.0 bytes

In [ ]:
def f(x):
    return int(x)

for i in

In [64]:
pd.to_numeric?

<table width="900">
    <tr>
        <td>
            <font size="4"><div style="text-align:left;"><a href="Pandas 介紹與陣列概念.ipynb" target="_blank">上一章：Pandas 介紹與陣列概念</a></div></font>
        </td>
        <td>
            <font size="4"><div style="text-align:center;"><a href="#" target="_blank">本章：Pandas-Series操作</a></div></font>
        </td>
        <td>
            <font size="4"><div style="text-align:right;"><a href="Pandas-DataFrame操作.ipynb" target="_blank">下一章：Pandas-DataFrame操作</a></div></font>
        </td>
    </tr>
</table>