# 1.Python資料庫操作
## 1-1 Python讀取MySQL流程
![](image\Python讀取MySQL流程.png)

## 1-2 資料庫驅動程式
![](image\資料庫驅動程式.png)


### 資料模組
- pymysql
```
pip install pymysql
```

- pyodbc (需搭配安裝驅動程式與找尋對應的ODBC字串)
```
pip install pyodbc
```

- mysql.connector
```
pip install mysql-connector-python
```

- mysqlclient
```
pip install mysqlclient
```

- Connector/Python Versions
https://dev.mysql.com/doc/connector-python/en/connector-python-versions.html

## 1-3 ODBC驅動程式
- Microsoft Access Database Engine 2010 可轉散發套件
    - [Microsoft Access Database Engine 2010 可轉散發套件](https://www.microsoft.com/zh-TW/download/details.aspx?id=13255)

- Microsoft Access Database Engine 2013可轉散發套件
    - [Microsoft Access 2013 Runtime](https://www.microsoft.com/en-us/download/details.aspx?id=39358)

- Microsoft Access Database Engine 2016 可轉散發套件
    - [Microsoft Access Database Engine 2016 可轉散發套件](https://www.microsoft.com/en-us/download/details.aspx?id=54920)

- Visual Studio 2015 的 Visual C++ 可轉散發套件
    - [Visual Studio 2015 的 Visual C++ 可轉散發套件](https://www.microsoft.com/zh-tw/download/details.aspx?id=48145)
    
- 2019 可轉散發套件
    - [Microsoft Access Database Engine 2019 可轉散發套件](https://support.microsoft.com/zh-tw/help/2977003/the-latest-supported-visual-c-downloads)

- MySQL ODBC驅動程式下載
    - [Connector/ODBC download](https://dev.mysql.com/downloads/connector/odbc/)

## 1-4 ODBC字串尋找
### Windows 
1. [The Connection Strings Reference](https://www.connectionstrings.com/) 
2. windows ODBC資料來源管理員的驅動程式查詢字串，控制台->系統及安全性->系統管理工具->資料來源 (ODBC)
![](image\資料來源管理員.png)

### MAC OSX
![](image\MAC_ODBC_Manager.png)

## 1-5 Python操作資料庫流程
### 1-5-1 Python操作資料庫流程
![](image\資料庫流程.png)

### 1-5-2 Python操作資料化圖像化概念
![](image\SQL.png)

# 2 Python使用ODBC操作 微軟Access

- [Access 的保留字與保留符號](https://support.microsoft.com/zh-tw/office/access-%E7%9A%84%E4%BF%9D%E7%95%99%E5%AD%97%E8%88%87%E4%BF%9D%E7%95%99%E7%AC%A6%E8%99%9F-ae9d9ada-3255-4b12-91a9-f855bdd9c5a2)
- 無法使用語句 CREATE TABLE IF NOT EXISTS
- 欄位名稱有使用到 Access 保留字時，就需要用中括弧 []，或改變欄位名稱的字

## 2-1 建立資料表

In [10]:
import pyodbc

DRIVER_NAME = "Microsoft Access Driver (*.mdb, *.accdb)"
DBfile = r'.\Database1.accdb'

con = pyodbc.connect("Driver={%s};DBQ=%s;" % (DRIVER_NAME, DBfile))
cur = con.cursor()

cur.execute("CREATE TABLE book (id COUNTER PRIMARY KEY, dates varchar(8), books VARCHAR(128), isbn VARCHAR(16), price integer);")
con.commit()

cur.close()
con.close()

## 2-2 刪除資料表

In [9]:
import pyodbc

DRIVER_NAME = "Microsoft Access Driver (*.mdb, *.accdb)"
DBfile = r'.\Database1.accdb'

con = pyodbc.connect("Driver={%s};DBQ=%s;" % (DRIVER_NAME, DBfile))
cur = con.cursor()
try:
    if cur.tables(table = 'book').fetchone():
        cur.execute('DROP TABLE book')
        con.commit()
except Exception as e:
    print("異常發生:{}".format(e))
    con.rollback()
    
cur.close()
con.close()

## 2-3 新增紀錄

In [45]:
import pyodbc

DRIVER_NAME = "Microsoft Access Driver (*.mdb, *.accdb)"
DBfile = r'.\Database1.accdb'

con = pyodbc.connect("Driver={%s};DBQ=%s;" % (DRIVER_NAME, DBfile))
cur = con.cursor()

date = "20181130"
books = '從零開始學 Python 程式設計 (適用Python 3.5以上)(暢銷回饋版)'
isbn = '9789864343492'
price = 580

try:
    cur.execute("INSERT INTO book ( dates, books, isbn, price) VALUES ( ?, ?, ?, ?);",  date, books, isbn, price)
    con.commit()
except Exception as e:
    print("異常發生:{}".format(e))
    con.rollback()
    
cur.close()
con.close()

## 2-4 同時新增多筆資料

In [10]:
import pyodbc
import booklist

DRIVER_NAME = "Microsoft Access Driver (*.mdb, *.accdb)"
DBfile = r'C:\Users\Amin\Database1.accdb'

con = pyodbc.connect("Driver={%s};DBQ=%s;" % (DRIVER_NAME, DBfile))
cur = con.cursor()
books = booklist.getbooklist()
try:
    cur.executemany("insert into book (dates, books, isbn, price) values (?,?,?,?);", books)
    con.commit()
except Exception as e:
    print("異常發生:{}".format(e))
    con.rollback()
    
cur.close()
con.close()

## 2-5 更新資料

In [26]:
import pyodbc

DRIVER_NAME = "Microsoft Access Driver (*.mdb, *.accdb)"
DBfile = r'C:\Users\Amin\Database1.accdb'

con = pyodbc.connect("Driver={%s};DBQ=%s;" % (DRIVER_NAME, DBfile))
cur = con.cursor()

price = 560
try:
    cur.execute("UPDATE book SET [price] = ? WHERE id = ?;", price, 4)
    con.commit()
except Exception as e:
    print("異常發生:{}".format(e))
    con.rollback()
    
cur.close()
con.close()

## 2-6 查詢紀錄

In [55]:
import pyodbc

DRIVER_NAME = "Microsoft Access Driver (*.mdb, *.accdb)"
DBfile = r'C:\Users\Amin\Database1.accdb'

con = pyodbc.connect("Driver={%s};DBQ=%s;" % (DRIVER_NAME, DBfile))
cur = con.cursor()

SQL = 'SELECT * FROM book;'
for row in cur.execute(SQL):
    print(row.dates, row.books, row.price)

cur.close()
con.close()

20160630 VB 420
20171217 Python 450
20170101 R 500
20161010 C++ 530
20160630 Excel 420

# 3. Python使用MySQL操作資料庫
- Python 2.7 使用 MySQLdb
- Python 3.X 使用 pymysql
- [MySQL保留Keywords and Reserved Words](https://dev.mysql.com/doc/refman/8.0/en/keywords.html)

## 3-1 Python MySQL套件安裝

In [1]:
import sys
!python -m pip install --upgrade pip --user
ver = sys.version_info
if ver >= (3,):
    !pip install pymysql
elif ver == (2,):
    !pip install MySQLdb

Requirement already satisfied: pip in c:\users\amin\appdata\roaming\python\python37\site-packages (21.2.3)
Collecting pip
  Using cached pip-21.2.4-py3-none-any.whl (1.6 MB)
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.2.3
    Uninstalling pip-21.2.3:
      Successfully uninstalled pip-21.2.3
  Rolling back uninstall of pip
  Moving to c:\users\amin\appdata\roaming\python\python37\scripts\pip.exe
   from C:\Users\Amin\AppData\Local\Temp\pip-uninstall-y5ksctvr\pip.exe
  Moving to c:\users\amin\appdata\roaming\python\python37\scripts\pip3.7.exe
   from C:\Users\Amin\AppData\Local\Temp\pip-uninstall-y5ksctvr\pip3.7.exe
  Moving to c:\users\amin\appdata\roaming\python\python37\scripts\pip3.exe
   from C:\Users\Amin\AppData\Local\Temp\pip-uninstall-y5ksctvr\pip3.exe
  Moving to c:\users\amin\appdata\roaming\python\python37\site-packages\pip-21.2.3.dist-info\
   from c:\users\amin\appdata\roaming\python\python37\site-packages\~ip-21.2.3.dist-info
  Moving to c:\users\amin\appdata\roaming\python\python37\site-packages\pip\
   from c:\users\amin\appdata\roaming\python\python37\site-packages\~ip

WARNING: Ignoring invalid distribution -atplotlib (c:\users\amin\appdata\roaming\python\python37\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\amin\appdata\roaming\python\python37\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\amin\appdata\roaming\python\python37\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -atplotlib (c:\users\amin\appdata\roaming\python\python37\site-packages)
ERROR: Exception:
Traceback (most recent call last):
  File "C:\Users\Amin\AppData\Roaming\Python\Python37\site-packages\pip\_internal\cli\base_command.py", line 173, in _main
    status = self.run(options, args)
  File "C:\Users\Amin\AppData\Roaming\Python\Python37\site-packages\pip\_internal\cli\req_command.py", line 203, in wrapper
    return func(self, options, args)
  File "C:\Users\Amin\AppData\Roaming\Python\Python37\site-packages\pip\_internal\commands\install.py", line 399, in run
    pycompile=options.compile,
  File "C:\Users\Amin\AppData\Roaming\Python\Python37\site-packages\pip\_internal\req\__init__.py", line 81, in install_given_reqs
    pycompile=pycompile,
  File "C:\Users\Amin\AppData\Roaming\Python\Python37\site-packages\pip\_internal\req\req_install.py", line 766, in install
    requested=self.user_supplied,
  File "C:\Users\Amin\AppData\Roaming\Python\Python37\site-packages\pip\_internal\operations\install\wheel.py", line 802, in install_wheel
    requested=requested,
  File "C:\Users\Amin\AppData\Roaming\Python\Python37\site-packages\pip\_internal\operations\install\wheel.py", line 704, in _install_wheel
    generated_console_scripts = maker.make_multiple(scripts_to_generate)
  File "C:\Users\Amin\AppData\Roaming\Python\Python37\site-packages\pip\_vendor\distlib\scripts.py", line 422, in make_multiple
    filenames.extend(self.make(specification, options))
  File "C:\Users\Amin\AppData\Roaming\Python\Python37\site-packages\pip\_internal\operations\install\wheel.py", line 448, in make
    return super().make(specification, options)
  File "C:\Users\Amin\AppData\Roaming\Python\Python37\site-packages\pip\_vendor\distlib\scripts.py", line 411, in make
    self._make_script(entry, filenames, options=options)
  File "C:\Users\Amin\AppData\Roaming\Python\Python37\site-packages\pip\_vendor\distlib\scripts.py", line 312, in _make_script
    self._write_script(scriptnames, shebang, script, filenames, ext)
  File "C:\Users\Amin\AppData\Roaming\Python\Python37\site-packages\pip\_vendor\distlib\scripts.py", line 242, in _write_script
    launcher = self._get_launcher('t')
  File "C:\Users\Amin\AppData\Roaming\Python\Python37\site-packages\pip\_vendor\distlib\scripts.py", line 390, in _get_launcher
    raise ValueError(msg)
ValueError: Unable to find resource t32.exe in package pip._vendor.distlib
WARNING: Ignoring invalid distribution -atplotlib (c:\users\amin\appdata\roaming\python\python37\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\amin\appdata\roaming\python\python37\site-packages)

Requirement already satisfied: pymysql in c:\programdata\anaconda3\lib\site-packages (1.0.2)

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
WARNING: Ignoring invalid distribution -atplotlib (c:\users\amin\appdata\roaming\python\python37\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\amin\appdata\roaming\python\python37\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\amin\appdata\roaming\python\python37\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\amin\appdata\roaming\python\python37\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\amin\appdata\roaming\python\python37\site-packages)

## 3-2 建立資料庫

In [7]:
import sys
ver = sys.version_info
if ver >= (3,):
    try:
        import pymysql as mysql
    except ModuleNotFoundError as e:
        !pip install pymysql
        import pymysql as mysql
elif ver == (2,):
    import MySQLdb as mysql
import warnings

warnings.filterwarnings('ignore')

Hostname = "localhost" #127.0.0.1
dbusername = "root"
password = ""
dbname = "qqq"
charSet = "utf8mb4"     # Character set
cusrorType = mysql.cursors.DictCursor

con = mysql.connect(host = Hostname, 
                    user = dbusername, 
                    password = password, 
                    port = 3306,
                    charset = charSet,
                    cursorclass = cusrorType)
cur = con.cursor()
try:
    sql = f"""CREATE DATABASE {dbname}"""
    cur.execute(sql)
    con.commit()
except Exception as e:
    print("異常發生:{}".format(e))
    con.rollback()
    
cur.close()
con.close()

## 3-3 建立資料表

In [1]:
import sys
ver = sys.version_info
if ver >= (3,):
    try:
        import pymysql as mysql
    except ModuleNotFoundError as e:
        !pip install pymysql
        import pymysql as mysql
elif ver == (2,):
    import MySQLdb as mysql
import warnings

warnings.filterwarnings('ignore')

Hostname = "localhost" #127.0.0.1
dbusername = "root"
password = ""
dbname = "test"

con = mysql.connect(host = Hostname, user = dbusername, password = password, database = dbname, port=3306)
cur = con.cursor()
try:
    sql = """CREATE TABLE IF NOT EXISTS book (  
            id INT UNSIGNED NOT NULL PRIMARY KEY AUTO_INCREMENT, 
            dates varchar(8) COLLATE utf8_unicode_ci default '', 
            books varchar(128) COLLATE utf8_unicode_ci default '', 
            isbn varchar(16) COLLATE utf8_unicode_ci default '',
            price INT UNSIGNED NOT NULL) 
            ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;"""
    cur.execute(sql)
    con.commit()
except Exception as e:
    print("異常發生:{}".format(e))
    con.rollback()
    
cur.close()
con.close()

## 3-4 刪除資料表

In [ ]:
import sys
ver = sys.version_info
if ver >= (3,):
    try:
        import pymysql as mysql
    except ModuleNotFoundError as e:
        !pip install pymysql
        import pymysql as mysql
elif ver == (2,):
    import MySQLdb as mysql

Hostname = "localhost"
dbusername = "root"
password = ""
dbname = "test"

# Open database connection
con = mysql.connect(host = Hostname, user = dbusername, password = password, database = dbname, port=3306)
cur = con.cursor()
 
# Drop table if it already exist using execute()
cur.execute("DROP TABLE IF EXISTS book;")
con.commit()
# disconnect from server
cur.close()
con.close()

## 3-5 新增紀錄

### 法1

In [3]:
import sys
ver = sys.version_info
if ver >= (3,):
    try:
        import pymysql as mysql
    except ModuleNotFoundError as e:
        !pip install pymysql
        import pymysql as mysql
elif ver == (2,):
    import MySQLdb as mysql

Hostname = "localhost"
dbusername = "root"
password = ""
dbname = "test"

# Open database connection
con = mysql.connect(host = Hostname, user = dbusername, password = password, database = dbname, port=3306)
cur = con.cursor()

date = "20181130"
books = '從零開始學 Python 程式設計 (適用Python 3.5以上)(暢銷回饋版)'
isbn = '9789864343492'
price = 580

try:
    cur.execute("INSERT INTO book (dates, books, isbn, price) values ('%s', '%s', '%s', %d)" % (date, books, isbn, price))
    con.commit()
except Exception as e: #異常處理
    print (e)
    con.rollback
    
cur.close()
con.close()

### 法2

In [ ]:
import sys
ver = sys.version_info
if ver >= (3,):
    try:
        import pymysql as mysql
    except ModuleNotFoundError as e:
        !pip install pymysql
        import pymysql as mysql
elif ver == (2,):
    import MySQLdb as mysql

Hostname = "localhost"
dbusername = "root"
password = "usbw"
dbname = "test"

# Open database connection
con = mysql.connect(host = Hostname, user = dbusername, password = password, database = dbname, port=3307)
cur = con.cursor()

date = "20181130"
books = '從零開始學 Python 程式設計 (適用Python 3.5以上)(暢銷回饋版)'
isbn = '9789864343492'
price = 580

sql = "INSERT INTO book (dates, books, isbn, price) VALUES (%s, %s, %s, %s);"
try:
    cur.execute(sql, (date, books, isbn, price))
    con.commit()
except Exception as e: #異常處理
    print("異常發生:{}".format(e))
    con.rollback()
    
cur.close()
con.close()

## 3-6 同時新增多筆資料

In [8]:
import sys
import booklist

ver = sys.version_info
if ver >= (3,):
    try:
        import pymysql as mysql
    except ModuleNotFoundError as e:
        !pip install pymysql
        import pymysql as mysql
elif ver == (2,):
    import MySQLdb as mysql

Hostname = "localhost"
dbusername = "root"
password = ""
dbname = "test"

# Open database connection
con = mysql.connect(host = Hostname, user = dbusername, password = password, database = dbname, port=3306)
cur = con.cursor()

books = booklist.getbooklist()
sql = "INSERT INTO book (dates, books, isbn, price) VALUES (%s, %s, %s, %s);"
try:
    cur.executemany(sql, books)
    con.commit()
except Exception as e: #異常處理
    print("異常發生:{}".format(e))
    con.rollback()
    
cur.close()
con.close()

異常發生:(1146, "Table 'test.book' doesn't exist")

## 3-7 更新資料表紀錄

In [5]:
import sys
ver = sys.version_info
if ver >= (3,):
    try:
        import pymysql as mysql
    except ModuleNotFoundError as e:
        !pip install pymysql
        import pymysql as mysql
elif ver == (2,):
    import MySQLdb as mysql

Hostname = "localhost"
dbusername = "root"
password = ""
dbname = "test"

# Open database connection
con = mysql.connect(host = Hostname, user = dbusername, password = password, database = dbname, port=3306)
cur = con.cursor()

try:
    cur.execute("UPDATE book SET price = %s WHERE id = %s;", (320, 1))
    con.commit() 
except Exception as e: #異常處理
    print (e)
    con.rollback
    
cur.execute( "SELECT * FROM book")
print("fetchone : " + str( cur.fetchone()))
print("fetchall : " + str( cur.fetchall()))

cur.close()
con.close()

fetchone : (1, '20181130', '從零開始學 Python 程式設計 (適用Python 3.5以上)(暢銷回饋版)', '9789864343492', 320)
fetchall : ((2, '20171221', 'Python 入門邁向高手之路王者歸來', '9789865000592', 699), (3, '20180904', 'Python 程式設計入門：金融商管實務案例, 3/e', '9789864343300', 550), (4, '20190815', 'Python 最強入門邁向頂尖高手之路：王者歸來 (全彩版)', '9789869807241', 1000), (5, '20190705', '超圖解 Python 程式設計入門', '9789863125952', 650), (6, '20161229', 'Python 自動化的樂趣｜搞定重複瑣碎 & 單調無聊的工作 (中文版)', '9789864762729', 500), (7, '20190325', 'Python零基礎入門班(第二版)：一次打好程式設計、運算思維與邏輯訓練基本功！', '9789865020798', 390), (8, '20190806', '秋聲教你玩Python：給挑戰者的修行之路', '9789864344147', 450), (9, '20161102', 'Python 程式設計「超入門」', '9789863123798', 420), (10, '20160630', 'Python 程式設計入門指南', '9789864760527', 520), (11, '20170421', '學會 Python：從不懂，到玩上手！', '9789863124245', 550))

## 3-8 刪除資料表紀錄

In [6]:
import sys
ver = sys.version_info
if ver >= (3,):
    import pymysql as mysql
elif ver == (2,):
    import MySQLdb as mysql

Hostname = "localhost"
dbusername = "root"
password = ""
dbname = "test"

# Open database connection
con = mysql.connect(host = Hostname, user = dbusername, password = password, database = dbname, port=3306)
cur = con.cursor()
try:
    #cur.execute( "delete from test where id = %d" % (1))
    cur.execute( "DELETE FROM book WHERE id = %s;", (1, ))
    con.commit()
    
except Exception as e: #異常處理
    print("異常發生:{}".format(e))
    con.rollback()
    
cur.close()
con.close()

## 3-9 查詢紀錄

### 法1：ODBC
### ODBC 8.00.17之前版本可使用 https://downloads.mysql.com/archives/c-odbc/

In [2]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\lo yuan\anaconda3\lib\site-packages (4.0.34)

In [3]:
import sys
import numpy as np
import pyodbc

ODBC = 'MySQL ODBC 8.2 ANSI Driver'
Hostname = "localhost"
port = 3306
dbname = "test"
dbusername = "root"
password = ""

#寫法2：ODBC方法
connectstr = 'Driver={};Server={};PORT={};Database={};User={};Password={};'.format(ODBC, Hostname, port, dbname, dbusername, password)
con = pyodbc.connect(connectstr)

cur = con.cursor()

sql = "SELECT * FROM app;"
cur.execute(sql)
rows = cur.fetchall()

for i in range(0, len(rows)):
    for j in range(0, len(rows[0])):
        print(rows[i][j], end = " ")
    print()
    
cur.close()
con.close()

1 Excel 20231001 1.1.1.0 Excel_v2
2 Python金融 20220103 1.0.0.2 Python金融V2
3 Python爬蟲 20210301 1.0.0.6 Python金融V5
4 Python大數據 20221001 1.0.1.2 Python大數據V5
5 Excel爬蟲 20211009 1.1.1.2 Excel爬蟲V2

### 法2：pymysql

In [8]:
import sys
import numpy as np

ver = sys.version_info
if ver >= (3,):
    try:
        import pymysql as mysql
    except ModuleNotFoundError as e:
        !pip install pymysql
        import pymysql as mysql
elif ver == (2,):
    import MySQLdb as mysql
    

Hostname = "localhost"
port = 3306
dbname = "test"
dbusername = "root"
password = ""

#寫法1：mysql方法
con = mysql.connect(host = Hostname, user = dbusername, password = password, database = dbname, port=port)
cur = con.cursor()

sql = "SELECT * FROM BOOK;"
cur.execute(sql)
rows = cur.fetchall()

#寫法1
for row in rows:
    print(row[0], row[1], row[2], row[3])
    
cur.close()
con.close()

2 20171221 Python 入門邁向高手之路王者歸來 9789865000592
3 20180904 Python 程式設計入門：金融商管實務案例, 3/e 9789864343300
4 20190815 Python 最強入門邁向頂尖高手之路：王者歸來 (全彩版) 9789869807241
5 20190705 超圖解 Python 程式設計入門 9789863125952
6 20161229 Python 自動化的樂趣｜搞定重複瑣碎 & 單調無聊的工作 (中文版) 9789864762729
7 20190325 Python零基礎入門班(第二版)：一次打好程式設計、運算思維與邏輯訓練基本功！ 9789865020798
8 20190806 秋聲教你玩Python：給挑戰者的修行之路 9789864344147
9 20161102 Python 程式設計「超入門」 9789863123798
10 20160630 Python 程式設計入門指南 9789864760527
11 20170421 學會 Python：從不懂，到玩上手！ 9789863124245

### 法3

In [5]:
import sys
import pandas as pd

ver = sys.version_info
if ver >= (3,):
    import pymysql as mysql
elif ver == (2,):
    import MySQLdb as mysql

Hostname = "localhost"
port = 3306
dbname = "test"
dbusername = "root"
password = ""

sql = "SELECT * FROM app"

conn = mysql.connect(host = Hostname, 
                     user = dbusername, 
                     password = password, 
                     database = dbname, 
                     port=port)
df = pd.read_sql(sql, con=conn)
df

C:\Users\Lo yuan\AppData\Local\Temp\ipykernel_17124\3852249112.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, con=conn)

   id       name      date  version       remark
0   1      Excel  20231001  1.1.1.0     Excel_v2
1   2   Python金融  20220103  1.0.0.2   Python金融V2
2   3   Python爬蟲  20210301  1.0.0.6   Python金融V5
3   4  Python大數據  20221001  1.0.1.2  Python大數據V5
4   5    Excel爬蟲  20211009  1.1.1.2    Excel爬蟲V2

# 4. Python操作SQLite

## 4-1 建立資料表

In [1]:
import sqlite3 as lite 
con = lite.connect("test.sqlite")
cur = con.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS book(id int primary key, dates text, books text, isbn text, price int)")
cur.close()
con.close()

## 4-2 刪除資料表

In [14]:
import sqlite3 as lite 
con = lite.connect("test.sqlite")
cur = con.cursor()
cur.execute("DROP TABLE book;")
cur.close()
con.close()

## 4-3 新增紀錄

In [34]:
import sqlite3 as lite 

con = lite.connect("test.sqlite")
cur = con.cursor()

date = "20181130"
books = '從零開始學 Python 程式設計 (適用Python 3.5以上)(暢銷回饋版)'
isbn = '9789864343492'
price = 580

#寫法1
sql = "INSERT INTO book (dates, books, isbn, price) VALUES ('{}','{}', '{}', '{}');".format(date, books, isbn, price)
try:
    cur.execute(sql)
    con.commit()
except Exception as e: #異常處理
    print("異常發生:{}".format(e))
    con.rollback()
    
#寫法2
#try:
#    cur.execute("INSERT INTO book (dates, books, isbn, price) VALUES (?,?,?,?);", (date, books, isbn, price))
#    con.commit()
#except Exception as e:
#    print("異常發生:{}".format(e))
#    con.rollback()

cur.close()
con.close()

## 4-4 同時新增多筆資料

In [16]:
import sqlite3 as lite 
import booklist

con = lite.connect("test.sqlite")
cur = con.cursor()
books = booklist.getbooklist()

try:
    cur.executemany("INSERT INTO book (dates, books, isbn, price) values (?,?,?,?)", books)
    con.commit()
except Exception as e: #異常處理
    print("異常發生:{}".format(e))
    con.rollback()
    
cur.close()
con.close()

## 4-5 更新資料表紀錄

In [16]:
import sqlite3 as lite 
con = lite.connect("test.sqlite")
cur = con.cursor()
sql = "update book set price = ? where id = ?;"
cur.execute(sql, (600, 1))

try:
    cur.execute( "select * from book;")
    con.commit() 
except Exception as e: #異常處理
    print("異常發生:{}".format(e))
    con.rollback()
    
print ("fetchone : " + str( cur.fetchone()))
print ("fetchall : " + str( cur.fetchall()))
cur.close()
con.close()

fetchone : (None, '20181130', '從零開始學 Python 程式設計 (適用Python 3.5以上)(暢銷回饋版)', '9789864343492', 580)
fetchall : [(None, '20171221', 'Python 入門邁向高手之路王者歸來', '9789865000592', 699), (None, '20180904', 'Python 程式設計入門：金融商管實務案例, 3/e', '9789864343300', 550), (None, '20190815', 'CPython 最強入門邁向頂尖高手之路：王者歸來 (全彩版)', '9789869807241', 1000)]

## 4-6 刪除資料表紀錄

In [22]:
import sqlite3 as lite 
con = lite.connect("test.sqlite")
cur = con.cursor()
sql = "DELETE FROM book WHERE id = ?;"

try:
    cur.execute(sql, (2, ))
    con.commit() 
except Exception as e: #異常處理
    print("異常發生:{}".format(e))
    con.rollback()
    
cur.close()
con.close()

## 4-7 查詢紀錄

In [19]:
import sqlite3 as lite 

con = lite.connect("test.sqlite")
cur = con.cursor()
red = cur.execute("SELECT * FROM BOOK;")
for row in red:
    print ( row[1], row[2], row[3], row[4])
cur.close()
con.close()

20181130 從零開始學 Python 程式設計 (適用Python 3.5以上)(暢銷回饋版) 9789864343492 580
20171221 Python 入門邁向高手之路王者歸來 9789865000592 699
20180904 Python 程式設計入門：金融商管實務案例, 3/e 9789864343300 550
20190815 CPython 最強入門邁向頂尖高手之路：王者歸來 (全彩版) 9789869807241 1000

# 5. SQLite 與 Pandas

## 5-1 使用Pandas 建立Table並整批寫入SQLite

In [17]:
import pandas as pd
import sqlite3 as lite
import booklist

books = booklist.getbooklist()
df = pd.DataFrame(books)

with lite.connect("test.sqlite") as db:
    df.to_sql(name ='book', con = db, if_exists='replace')

## 5-2 使用Pandas讀取SQLite

In [18]:
import sqlite3 as lite
with lite.connect('test.sqlite') as db:
    df = pd.read_sql_query('SELECT * FROM BOOK;', db, index_col = ['index'])
df.head()

              0                                     1              2     3
index
0      20171221                   Python 入門邁向高手之路王者歸來  9789865000592   699
1      20180904           Python 程式設計入門：金融商管實務案例, 3/e  9789864343300   550
2      20190815        Python 最強入門邁向頂尖高手之路：王者歸來 (全彩版)  9789869807241  1000
3      20190705                     超圖解 Python 程式設計入門  9789863125952   650
4      20161229  Python 自動化的樂趣｜搞定重複瑣碎 & 單調無聊的工作 (中文版)  9789864762729   500